// Main Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$x-lg: 1440px;

// Colors

/// Primary

$very-dark-magenta: #512051;
$soft-pink: #ee69a4;

/// Neutral
$dark-grayish-magenta: #927b91;
$light-grayish-magenta: #f7f2f7;
