@use "./../01-abstracts/" as *;

.section {
  padding: 82px 24px 99px;
  max-width: calc(1110px + 48px);
  margin: auto;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint($lg) {
      flex-direction: row;
      margin-bottom: 71px;
      justify-content: space-between;
    }
  }

  &__main {
    max-width: 445px;
    text-align: center;
    @include breakpoint($lg) {
      text-align: left;
    }
  }

  &__title {
    font-size: rem(40px);
    font-weight: 700;
    line-height: 0.8;
    letter-spacing: rem(-1.42857px);
    color: $very-dark-magenta;
    margin-bottom: 17px;
    @include breakpoint($lg) {
      font-size: rem(56px);
      line-height: 0.86;
      letter-spacing: rem(-2px);
      margin-bottom: 16px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: rem(19px);
    line-height: 1.32;
    letter-spacing: rem(-0.633333px);
    padding: 0 5px;
    margin-bottom: 39px;
    @include breakpoint($lg) {
      margin-bottom: 0;
    }
  }

  &__ratings {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    margin-bottom: 49px;
    font-weight: 700;
    font-size: rem(17px);
    line-height: rem(16px);
    color: $very-dark-magenta;
  }

  &__rating {
    background-color: $light-grayish-magenta;
    border-radius: 8px;
    text-align: center;
    padding: 16px 0 15px;

    &-stars {
      display: flex;
      justify-content: center;
      gap: 8.45px;
      margin-bottom: 15.2px;
    }

    &-star {
      max-width: 16.5px;
    }
  }

  &__reviews {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    color: white;
  }

  &__review {
    background-color: $very-dark-magenta;
    border-radius: 8px;
    padding: 40px 32px 35px;
    font-size: rem(17px);

    &-profile {
      display: flex;
      align-items: center;
      gap: 23px;
      margin-bottom: 23px;
      line-height: 16px;
    }

    &-img {
      max-width: 40px;
      border-radius: 100%;
    }

    &-name {
      font-weight: 700;
      margin-bottom: 4px;
    }

    &-verified {
      color: $soft-pink;
    }

    &-content {
      font-weight: 500;
      line-height: 22px;
      letter-spacing: rem(-0.303571px);
    }
  }

  &__bg-top,
  &__bg-bottom {
    width: unset;
    position: absolute;
    z-index: -1;
  }

  &__bg-top {
    top: 0;
    left: 0;
  }

  &__bg-bottom {
    bottom: 0;
    right: 0;
  }
}
